ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 5px;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-login{
    position:relative;
    top: 200px;
}

.navbuttom ul{
    width: 100%;
}
.navbuttom ul li{
    width: 25%;
    text-align: center;
    font-size: 14px;
}
.navbuttom ul li a{
    padding-top: 0;
    padding-bottom: 10px;
    border-right:1px solid #7f8c8d;
}
.navbuttom ul .glyphicon{
    margin-top: 10px;
    font-size: 30px;
    color: #fff;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
    height: 60px;
    margin-top: 10px;
}
.navbar-header a{
    font-size: 30px;
}
.navbar-brand {float:none;}

body {
    padding-top: 65px;
}