{% extends 'font.html.twig' %}

{% block body %}
    <h1>web叫货系统</h1>
    <br>
    <ul>
        {% for category in categories %}
            <li><a href="{{ path('webcaja_productList', { 'id': category.id }) }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}
