{% extends 'font.html.twig' %}

{% block body %}
    <h1>web叫货系统</h1>
    <br>
    <ul>
        {% for product in products %}
            <li>{{ product.name }}</li><a href="{{ path('webcaja_addToCarrito', {'id': product.id }) }}">购买</a>
        {% endfor %}
    </ul>
{% endblock %}